// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

$primary: #0D0217;
$secondary: #1C3C50;
$tertiary: #AEBFE0;

// Font 

$font_family_sans_serif: "Playfair Display";


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html, body {
    height: 100%;
    margin: 0;
    background-color: #AEBFE0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/bannière.png);
        background-size: cover;
        filter: brightness(0.2);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.contentTitle{
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    
}

.contentText{
    text-align: center;
    font-family: $font_family_sans_serif;
}

/* Slider container */
/* Slider container */
/* Slider container */
.slider {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 8px;
}

/* Slides container */
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Images */
.slides img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
}

/* Boutons */
.buttonSlider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

button.prev { left: 10px; }
button.next { right: 10px; }

/* Texte en dessous de l'image */
.slider-caption {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
