// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

$primary: #0D0217;
$secondary: #1C3C50;
$tertiary: #AEBFE0;

// Font 

$font_family_sans_serif: "Playfair Display";


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

main{
    background-color: $tertiary;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/bannière.png);
        background-size: cover;
        filter: brightness(0.2);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}